<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <style>
    </style>
  </head>
  <body>
    
    <div class="hero-unit-oldschool row">
      <div class="span12">
        <h1>I'm a Maker:</h1>
        <p>Today, Simon Wex stops over-consuming.</p>
      </div>
    </div>
    <div id="bars">
    </div>
  
    <div class="container" id="wrapper">
      <div class="row editorial">
        <div class="span8">
          <p>
            I watch less TV than you. I haven't owned a television since 
            2000 when it was stolen from my apartment in London, Ontario. 
            I actively avoid bars and pubs with televisions, and when I can't 
            I try to sit with them out of view.
          </p>
          <p>
            This is just a technicality. I have most certainly watched 
            more YouTube, Vimeo and Wimp videos than anyone should in a lifetime. 
          </p>
          <p>
            I've used this hunger to learn countless things, but it is time for mastery. 
          </p>
          <p>
            Today is the day I return to making. This is where I start.
          </p>
        </div>
        <div class="span4">
          <div class="well">
            <ul id="social_icons">
              <li class="twitter"><a href="http://twitter.com/simonwex"><span>Simon Wex on Twitter</span></a></li>
              <li class="rss"><a href="/rss"><span>Simon Wex's Feed</span></a></li>
              <li class="youtube"><a href="http://youtube.com/simonwex"><span>Simon Wex on YouTube</span></a></li>
              <li class="vimeo"><a href="http://vimeo.com/simonwex"><span>Simon Wex's on Vimeo</span></a></li>
            </ul>
            <br style="clear: both;">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span4">
          <h3>/etc/hosts - 26/02/2013</h3>
          <pre>$ sudo echo "127.0.0.1 www.youtube.com
> 127.0.0.1 youtube.com
> 127.0.0.1 vimeo.com
> 127.0.0.1 www.wimp.com" >> /etc/hosts
</pre>
          <p>
            This doesn't mean I'll never watch a youtube video again. What it does mean is that I have to 
            conciously re-enable DNS lookup for these domains. The compulsion of checking youtube when I'm 
            bored will stop.
          </p>
        </div>
        <div class="span4">
          <h3>Google Reader - 27/02/2013</h3>
          <p>
            I just removed 70% of the volume from my Google Reader subscriptions. It feels good.
          </p>
        </div>
        <div class="span4">
        </div>
      </div>
      <hr>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">I'm Simon Wex, you can <a href="mailto:simon@simonwex.com">email me</a>.</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/bootstrap/js/bootstrap.js">
    </script>
    <script src="/javascripts/application.js">
    </script>
  </body>
</html>